@font-face {
    font-family: HarabaraMais-Bold;
    src: url(../fonts/HarabaraMais-Bold.otf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Roboto-Thin;
    src: url(../fonts/Roboto-Thin.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Roboto-Bold;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Roboto-Light;
    src: url(../fonts/Roboto-Light.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: Roboto-Medium;
    src: url(../fonts/Roboto-Medium.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: NotoSansUI-Regular;
    src: url(../fonts/NotoSansUI-Regular.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: NotoSansUI-Bold;
    src: url(../fonts/NotoSansUI-Bold.ttf);
    font-weight: normal;
    font-style: normal; }
@font-face {
    font-family: AmericanTypewriter-MediumA;
    src: url(../fonts/AmericanTypewriter-MediumA.ttf);
    font-weight: normal;
    font-style: normal; }

html {
    position: relative;
    min-height: 100%; }

.container{
    max-width: 1170px;
    margin: 0 auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block; }

a {
    text-decoration: none;
    border-color: transparent; }

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0; }

a:active, a:focus {
    outline: none; }

input {
    outline: 0 !important; }

button:active, button:focus {
    outline: none; }

.form-control:focus,
.btn:focus {
    outline: 0;
    box-shadow: none; }

button::-moz-focus-inner {
    border: 0; }

input {
    outline: none; }
.transition {
    transition: 0.7s; }

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #303549 !important;
    color: #303549 !important; }

body {
    font-family:Roboto-Regular, sans-serif;
}

.wrapper {
    position: relative;
    min-width: 320px;
    max-width: 100%;
    min-height: 100%;
    /*margin-bottom: 250px;*/
    height: 100%; }

header{
    background: url("../img/bg-header.jpg");
    background-size: 100% 100%;
    padding: 50px 0;
}
.auto-reg{
   text-align: center;
}
.auto-reg img{
    width: 340px;
    height: 140px;
}
.auto-reg h1{
    font-family: Roboto-Thin, sans-serif;
    font-size: 40px;
    color: #fff;
    margin: 90px 0 20px;
}
.auto-reg p{
    font-family: Roboto-Light, sans-serif;
    font-size: 22px;
    color: #fff;
    margin: 0 0 40px;
}
.header-burger {
    color: #99a7cb;
    cursor: pointer;
    font-size: 27px;
    text-align: -webkit-right;
    margin: 0 15px -27px;
}
.header-burger:hover{
    color: #fff;
}
.header-input{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}
.header-input input {
    height: 72px;
    background: #fff;
    border-radius: 3px 0 0 3px;
    border: none;
    padding: 0 38px;
    font-size: 20px;
    color: #3c3c3c;
    box-shadow: 20px 6px 50px #3c3c3c;
}
.header-input span{
    display: block;
    margin: 27px 18px 0 -33px;
    color: #848282;
}
.header-input span:hover{
    color: #3c3c3c;
}
.header-input button {
    background: #64dd17;
    height: 72px;
    border: none;
    border-radius: 0 3px 3px 0;
    width: 112px;
}
.header-input button:hover {
    background: #86ec46;}

.header-advantages{
    padding:20px 0 ;
}
.header-advantages ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.header-advantages ul li {
    font-family: NotoSansUI-Regular, sans-serif;
    color: #fff;
    text-align: center;
    font-size: 18px;
    line-height: 24px;
}
/*online-reg*/
.online-reg{
   padding: 90px 0 0;
    text-align: center;
}
.online-reg h1{
    font-family: NotoSansUI-Regular, sans-serif;
    font-size: 36px;
    color:#131313;
    text-transform: uppercase;
}
.online-reg p{
    font-size: 20px;
    color:#7d7c7c;
    margin: 20px 0 100px;
}
.online-reg-item ul{
     display: flex;
     justify-content: space-between;
     list-style: none;
 }
.online-reg-item ul li{
    margin: 0 15px;
}
.online-reg-item ul li img{
   height: 75px;
    width: auto;
    margin-bottom: 20px;
}
.online-reg-item ul li p{
    font-family: NotoSansUI-Regular, sans-serif;
    color:#000;
    font-size: 16px;
    line-height: 22px;
}
/*END online-reg*/

/*check-flight*/
.check-flight{
    font-family: NotoSansUI-Regular, sans-serif;
    background: url("../img/bg-plus.png");
    background-size: 100% 100%;
    padding: 90px 0 180px;
    color: #fff;
}
.check-flight .check-flight-blocks{
    display: flex;
    justify-content: space-between;
}
.check-flight-minus,
.check-flight-plus{
    width: 50%;
}
.check-flight-minus{
    margin-left: 150px;
}
.check-flight-minus ul,
.check-flight-plus ul{
    display: flex;
    flex-direction: column;
    line-height: 24px;
}
.check-flight-minus h2,
.check-flight-plus h2{
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 80px;
    line-height: 36px;
}
.check-flight-minus ul li,
.check-flight-plus ul li{
    list-style: none;
    padding: 5px 0;
}
.check-flight-minus ul li p,
.check-flight-plus ul li p{
    overflow: hidden;
}
.check-flight-minus ul li .flights{
    font-size: 12px;
}

.check-flight-minus ul li img,
.check-flight-plus ul li img{
    float: left;
    width: 75px;
    height: 75px;
}
.little-text{
    font-size: 14px;
}
.check-flight-plus .services{
    margin-top: 70px;
}
.check-flight-plus .services h5{
    font-family: NotoSansUI-Regular, sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    line-height: 32px;
}
  /*END check-flight*/

/*process-reg*/
.process-reg {
    text-align: center;
    margin-top: -50px;
}
.process-reg h1{
    font-size: 28px;
    text-transform: uppercase;
    color:#545353;
    margin-bottom: 50px;
}
.process-reg h1 span{
    color:#f8981c;
}
.process-reg ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 50px 0;
}
.process-reg ul li {
    display: flex;
    align-items: end;
    width: auto;
}
.process-reg ul li div img {
    margin-bottom: 75px;
}
.process-reg ul li p{
    font-family: NotoSansUI-Regular, sans-serif;
    font-size: 17px;
    color:#000;
}
.process-reg ul li .arrow{
    margin-top: 40px;
}
.process-reg-down{
    margin-top: 40px;
}

/*END process-reg*/

/*prof-secret*/
.prof-secret{
    font-family: NotoSansUI-Regular, sans-serif;
    background: url("../img/bg-blue.png");
    background-size: 100% 100%;
    padding: 70px 0 0;
    color: #fff;
}
.prof-secret h1{
    font-size: 36px;
    color:#fff;
}
.prof-secret .prof-secret-text{
    font-family:Roboto-Regular, sans-serif;
    font-size: 22px;
    color:#fff;
    margin: 15px 0 20px 0;
}
.prof-secret-block{
    display: flex;
    justify-content: center;
}

.hand-phone-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    /*width: 40%;*/
    height: 90%;
    /*margin-left: 18%;*/
}
.hand-phone-block div {
    position: relative;
    width: 26%;
    height: 200px;
    padding: 20px;
    margin: 0 5px 15px 5px;
    box-shadow: 3px 3px 8px #4e2c8b;
}
.hand-phone-block div p{
    font-family: Roboto-Regular, sans-serif;
    position: absolute;
    bottom: 0;
    font-size: 20px;
    margin: 15px 0 20px 0;
    text-align: left;
}
.prof-secret-block1{
    background: linear-gradient(to right, #f5564a, #f44336);
}
.prof-secret-block2{
    background: linear-gradient(to right, #1aa194, #009688);
}
.prof-secret-block3{
    background: linear-gradient(to right, #eb3472, #e91d62);
}
.prof-secret-block4{
    background: linear-gradient(to right, #77a94c, #6aa03a);
}
.prof-secret-block5{
    background: linear-gradient(to right, #ff6838, #ff5823);
}
.prof-secret-block6{
    background: linear-gradient(to right, #86655b, #785448);
}
.prof-secret-block7{
    background: linear-gradient(to right, #b45ac3, #ab47bc);
    width: 100% !important;
}
.hand-phone{
    width: 33%;
}
.hand-phone img{
    width: 100%;
}

.phone-img{
    display: flex;
    align-items: flex-end;
}
.phone-img img{
    width: 142%;
}
/*END prof-secret*/

/*inform-talone*/
.inform-talone{
    padding: 80px 0;
}
.inform-talone h1{
    font-family: NotoSansUI-Regular, sans-serif;
    color: #1562a5;
    font-size: 28px;
    text-align: center;
    margin-bottom: 80px;
    text-transform: uppercase;
}
.inform-talone h1 span{
    color: #f34e4e;
}
.inform-talone-block{
    display: flex;
    justify-content: space-between;
}
.inform-talone-item1{
    margin: 0 100px 20px 0;

}
.inform-talone-item2,
.inform-talone-item1{
    width: 48%;
}
.inform-talone-item2 img,
.inform-talone-item1 img{
    float: left;
    margin: 0 20px 0 0;
}
.inform-talone-item2 p,
.inform-talone-item1 p{
    font-family: NotoSansUI-Regular, sans-serif;
    font-size: 16px;
    color: #000;
    overflow: hidden;
    padding-left: 15px;
}
.inform-talone-item1 p span {
    display: block;
    font-family: NotoSansUI-Bold, sans-serif;
    font-size: 18px;
    color: #f34e4e;
    overflow: hidden;
    margin: 0 0 20px -15px;

}
.inform-talone-item2{
    display: flex;
}
.inform-talone-item2 .inform-talone-text {
    border: 4px solid #f34e4e;
    padding: 20px;
    position: relative;
}
.inform-talone-item2 .inform-talone-text::before, .inform-talone-item2 .inform-talone-text::after {
    content: '';
    position: absolute;
    bottom: 100px;
    left: -40px;
    border: 20px solid transparent;
    border-right: 20px solid #f34e4e;
}
.inform-talone-item2 .inform-talone-text::after {
    border-right: 29px solid #fff;
    bottom: 100px;
}

/*END inform-talone*/

/*luggage*/
.luggage{
    font-family: NotoSansUI-Regular, sans-serif;
    background: url("../img/bg-laggage.png");
    background-size: 100% 100%;
    padding: 70px 0;
    color: #fff;
    line-height: 24px;
}

.luggage h1{
    font-family: NotoSansUI-Regular, sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    text-transform: uppercase;
}

.luggage-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.luggage-block h4{
    font-family: NotoSansUI-Bold, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}
.luggage-block div{
    width: 44%;
}
.luggage-block p{
    font-family: Roboto-Medium, sans-serif;
    font-size: 18px;
    padding: 10px;
    border-left: 4px solid #fff;
}
.luggage-block span{
    display: block;
    font-size: 16px;
    margin: 10px 0 0 30px ;
}
.luggage-block span a{
   color:#2fdfff;
}
.luggage-block span a:hover{
    color: #000;
}

/*END luggage*/

/*special-food*/
.special-food{
    padding: 70px 0;
    text-align: center;
}
.special-food h1{
    font-family: NotoSansUI-Regular, sans-serif;
    padding: 0 0 70px 0;
    color:#000;
    font-size: 28px;
    text-transform: uppercase;
}
.special-food-block{
   display: flex;
    justify-content: space-between;
}
.special-food-block div{
   width: 28%;
    margin: 0 20px ;
}
.special-food-block div img{
    margin-bottom: 50px;
    height: 120px;
}
.special-food-block div p{
    font-size: 18px;
    color:#000;
    line-height: 24px;
}

/*END special-food*/

/*check-in*/
.check-in{
    font-family: NotoSansUI-Regular, sans-serif;
    background: url("../img/bg-checkin.png");
    background-size: 100% 100%;
    padding: 70px 0;
    color: #fff;
    line-height: 24px;

}
.check-in h1{
    font-size: 28px;
    color:#fff;
    margin-bottom: 20px;
    text-transform: uppercase;
    text-align: center;
}
.check-in-block {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}
.check-in-block div{
    width: 300px;
    margin: 20px;
    text-align: center;
}
.check-in-block div h3 {
    font-family: NotoSansUI-Regular, sans-serif;
    text-align: center;
    font-size: 18px;
    margin-bottom: 35px;
}
.check-in-block div h3 span{
    font-family: AmericanTypewriter-MediumA, sans-serif;
    font-size:90px;
}
/*.check-in-block div sup {*/
    /*display: block;*/
    /*font-size: 18px;*/
    /*margin: 0 0 0 70px;*/
    /*text-align: left;*/
/*}*/
.check-in-block p b{
    font-family: NotoSansUI-Bold, sans-serif;
}
.check-in-block div span{
    font-family: NotoSansUI-Regular, sans-serif;
    font-size: 14px;
}
.check-in-down {
    font-family: NotoSansUI-Regular, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-top: 70px;
}
.check-in-down b{
    font-family: NotoSansUI-Bold, sans-serif;
    margin-top: 70px;
}
/*END check-in*/

/*cancel-reg*/
.cancel-reg{
    padding: 70px 0;
}
.cancel-reg h1{
    font-family: NotoSansUI-Regular, sans-serif;
    font-size: 28px;
    text-align: center;
    color:#000;
    text-transform: uppercase;
    line-height: 40px;
    margin-bottom: 50px;
}
.cancel-reg h1 span{
    color:#f34e4e;
}
.cancel-reg img{
    float: left;
    margin: -10px 30px 40px 0;
}
.cancel-reg p{
    color: #000;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 20px;
}
.cancel-reg a {
    display: block;
    color: #f34e4e;
    font-size: 26px;
}
.cancel-reg a:hover {
   text-decoration: none;
    color: #000;
    font-size: 26px;
}
.cancel-reg div span {
    display: block;
    overflow: hidden;
    color: #000;
    font-size: 14px;
    margin-top: 33px;
    line-height: 20px;
}
/*END cancel-reg*/

/*faq*/
.faq {
    background: #09829c;
    padding: 90px 0 130px;
    background-image: url(../img/clouds.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
}
.faq h1{
    font-family: NotoSansUI-Regular, sans-serif;
    text-align: center;
    color: #fff;
    font-size: 28px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

/* Формируем базовый контейнер аккордеона*/
.accordion {
    width: 100%;
    min-height: 0;
    display: block;
    position: relative;
    margin: 0 auto;
    padding: 0;
    background-color: #fefffa;
    overflow: hidden
}
/* заголовки панелей аккордеона */
.accordion h2 {
    font-family: NotoSansUI-Regular, sans-serif;
    font-size: 18px;
    font-weight: 300;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    padding: 10px 23%;
    cursor: pointer;
    color: #f4f4f4;
    background: #09829c;
    border-top: 1px solid  #3da5bb;
    border-bottom: 1px solid #1e5e6c;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/* заголовки панелей аккордеона при наведении
* в данном варианте не срабатывает
*/
/* .accordion h2:hover {
    display: block;
    background-color: #005049;
}
*/
/* Формируем блоки с содерханием */
.msg {
    position: relative;
    overflow: hidden;
    max-height: 800px;
    opacity: 1;
    transform: translate(0, 0);
    background: #097086;
}
/* оформляем параграфы */
.msg p {
    color: #fff;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 1px;
    padding: 15px 25%;
}
/* Формируем неупорядоченный список */
.accordion ul {
    list-style: none;
    /*perspective: 900px;*/
    /*max-width: 1140px;*/
    padding: 0;
    margin: 0;
}

/* Определяем и формируем отдельный элемент списка
 * в который поместим скрытый флажек,
 * заголовок панелей и блок с содержанием
*/
.accordion ul li {
    position: relative;
    padding: 0;
    margin: 0;
}

/* устанавливаем время ожидания перед воспроизведением анимации
 * на основе нумерации в дереве элементов
*/
.accordion ul li:nth-of-type(1) {
    animation-delay: 0.5s;
}
.accordion ul li:nth-of-type(2) {
    animation-delay: 0.75s;
}
.accordion ul li:nth-of-type(3) {
    animation-delay: 1s;
}
.accordion ul li:last-of-type {
    padding-bottom: 0;
}
/* Сформируем  указатель переключения состояния аккордеона */
.accordion ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 16px;
    /* расположим указатель на панели заголовка справа */
    left: 18%;
}
/* "Рисуем " сам указатель */
.accordion ul li i:before, .accordion ul li i:after {
    content: "";
    position: absolute;
    background-color: #eee;
    width: 3px;
    height: 9px;
}
/* Добавляем элемент трансформации указателя при переключении */
.accordion ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
}
.accordion ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
}
/* Делаем чекбокс скрытым*/
.accordion ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    opacity: 0;
}
/* Когда у флажка установлен checked
 * блок с содержанием скрыт
*/
.accordion ul li input[type=checkbox]:checked ~ div.msg {
    margin-top: 0;
    max-height: 0;
    opacity: 0;
    transform: translate(0, 50%);
}
/* А указатель показывает вниз */
.accordion ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
}
.accordion ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
}
/*  Устанавливаем эффект перехода
 * между двумя состояниями указателя
*/
/*div.msg, ul li i:before, ul li i:after {*/
    /*transition: all 0.5s ease-in-out;*/
/*}*/
/**
 * Изображения внутри аккордеона
 * ...сделаем их отзывчивыми
 */
.accordion .msg img {
    width: 100%;
    height: auto;
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* полноразмерная картинка */
.msg img .large-img {
    width: 100%;
    margin-bottom: 10px;
}
/* миниатюра слева */
.msg img.img-left {
    width: 25%;
    float:left;
    margin:5px 15px 5px 0;
}
/* миниатюра справа */
.msg img.img-right {
    width: 25%;
    float:right;
    margin:5px 0 5px 15px;
}
/* Встраиваемое видео */
.video-responsive {
    margin: 20px;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    -moz-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
/* Предусмотри использование кода встраиваемого видео
 *через iframe, object или embed */
.video-responsive iframe,
.video-responsive object,
.video-responsive embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*END faq*/

/*choose-place*/
.choose-place{
    padding: 120px 0;
    text-align: center;
    background-color: #fff;
    background-image: url(../img/clouds1.png);
    background-size: contain;
    background-position: center bottom;
    background-repeat: no-repeat;
    margin-top: -1px;
}
.choose-place .container{
    display: flex;
    justify-content: space-around;
}
.choose-place div {
    width: 48%;
    padding: 0 50px;
}
.choose-place img{
    margin-left: 100px;
}
.choose-place div h3{
    font-family: NotoSansUI-Regular, sans-serif;
    font-size: 28px;
    color: #545353;
    line-height: 40px;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.choose-place div p{
    font-size: 16px;
    color: #000;
    line-height: 24px;
    margin-bottom: 20px;
}
/*END choose-place*/

/*no-places*/
.no-places{
    background: #e1f5fe;
    padding: 70px 0;
    text-align: center;
}
.no-places h1{
    font-family: NotoSansUI-Regular, sans-serif;
    text-transform: uppercase;
    margin: 60px 0 20px;
    line-height: 40px;
    font-size: 28px;
    color:#545353;
}
.no-places p{
    font-size: 16px;
    color:#000;
    line-height: 24px;
}
/*END no-places*/

/*scroll button*/
.topbutton {
    position: fixed;
}
.topbutton a {
    width: 30px;
    height: 30px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 185px;
    right: 18.5%;
    cursor: pointer;
    box-shadow: 0 3px 14px #ccc;
}
.topbutton img{
    margin-top: 10px;
}
.topbutton:hover {
    background: #ededed;

}
.topbutton:hover img {
    transform: rotate(180deg);
    transition: all 0.5s;
}
/*END scroll button*/



/*END main*/

footer{
    background: #37474f;
    background-size: contain;
    padding: 70px 0 10px;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*height: 255px;*/
    width: 100%;
}
footer .footer-block{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-block ul li{
    font-family: Roboto-Light, sans-serif;
    list-style: none;
    padding: 10px;
}
footer .footer-block ul li a{
    text-transform: uppercase;
    font-size: 16px;
    color: #feffff;
}
footer .footer-block ul li a:hover{
    color: #f34e4e;
}
.footer-social-icon ul {
    display: flex;
    padding: 30px 0;
    align-items: center;
}
footer p {
    font-family: Roboto-Light, sans-serif;
    color: #9ba1a4;
    margin: 10px 0 10px -60px;
    text-align: center;
    font-size: 16px;
}


/*media*/
@media screen and (max-width: 1550px) {
    .phone-img img {
        width: 123%;
    }

}
@media screen and (max-width: 1500px) {
    .hand-phone-block {
        width: 100%;
        margin-left: 0;
    }
}
@media screen and (max-width: 1450px) {
    .topbutton a {
        right: 8.5%;
    }
}
@media screen and (max-width: 1370px) {
    .phone-img img {
        width: 100%;
    }
    .topbutton a {
        right: 6.5%;
    }
    header {
        background: url(../img/bg-header2.png);
        background-size: 100% 100%;
        padding: 50px 0;
    }
}
@media screen and (max-width: 1199px) {
    .process-reg ul li .arrow {
        width: 60px;
    }
    .phone-img img {
        display: none;
    }
    .check-flight .check-flight-blocks{
        padding: 0 15px;
    }
    .check-flight-minus {
        margin-left: 70px;
    }
    .check-flight-minus ul li img, .check-flight-plus ul li img {
        float: left;
        width: 50px;
        height: 50px;
    }
    .check-flight-minus h2, .check-flight-plus h2 {
        margin-bottom: 30px;
    }
    .choose-place img {
        margin-left: 20px;
    }
    .topbutton a {
        right: 0.5%;
    }
}
@media screen and (max-width: 992px) {
    header {
        background-size: cover;
        padding: 50px 15px;
    }
    .phone-img {
        display: none;
    }
    .hand-phone-block {
        height: 100%;
    }
    .prof-secret {
        background: #673ab7;
        padding: 30px 15px;
    }
    .prof-secret-block div {
        margin: 15px;
    }
    .prof-secret-block {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding-bottom: 20px;}

    .hand-phone-block div {
        position: relative;
        width: 165px;
    }
    .hand-phone-block div p {
        font-size: 18px;
    }
    .prof-secret h1 {
        font-size: 24px;
        margin-left: 0;
        text-align: center;
    }
    .prof-secret .prof-secret-text {
        font-size: 18px;
        margin: 20px 0;
        text-align: center;
    }

    .choose-place div {
        width: 100%;}
    .choose-place .container {
        flex-wrap: wrap;
    }
    .choose-place div {
        width: 100%;
        padding: 20px 0;
    }
    footer .footer-block {
        text-align: center;
        padding: 0 15px;
    }
    footer .footer-block div {
        margin-bottom: 20px;
        width: 100%;
    }
    .process-reg {
        margin-top: 50px;
    }

    .inform-talone {
        padding: 30px 0;
    }
    .inform-talone-item2 .inform-talone-text::before,
    .inform-talone-item2 .inform-talone-text::after {
        display: none;
    }
    .choose-place {
        padding: 0 15px;}
    .no-places h1 {
        margin: 30px 0 20px;}

    .no-places,  .cancel-reg {
        text-align: center;
        padding: 20px 15px;}

    .footer-social-icon ul {
        display: inline-flex;}

    .check-flight-minus ul li,
    .check-flight-plus ul li {
        padding: 10px 0;
    }
    .check-flight-minus h2, .check-flight-plus h2 {
        font-size: 20px;
        margin: 30px 0 10px;
    }
    .check-flight-plus .services {
        margin-top: 10px;
    }
    .online-reg {
        padding: 30px 0 0;
    }
    .check-in-down {
        margin-top: 0;
    }
    .choose-place img {
        margin-left: 22%;
    }

}
@media screen and (max-width: 768px) {
    .process-reg ul li .arrow {
        display: none;
    }
    .process-reg ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .process-reg ul li div img {
        margin-bottom: 14px;
    }
    .process-reg ul li {
        padding-bottom: 30px;
    }
    .check-in-block, .special-food-block, .inform-talone-block, .check-flight .check-flight-blocks, .hand-phone-block,
    .online-reg-item ul {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 15px;
    }
    .no-places h1, .check-in-down {
        font-family: NotoSansUI-Regular, sans-serif;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
        line-height: 24px;
    }
    .cancel-reg h1, .check-in h1, .inform-talone h1, .process-reg h1,
    .online-reg h1, .choose-place div h3 {
        line-height: 24px;
        font-size: 22px;}

    .check-in-block {
        margin-top: 25px;
    }

    .special-food-block div {
        width: 100%;}
    .online-reg p {
        font-size: 16px;
        margin: 20px 0 30px;
    }
    .check-in-block div {
        margin: 30px 15px 30px;}

    .check-in-block div h3 {
        margin-bottom: 5px;
    }
    .inform-talone-item1 {
        margin: 20px 0 20px 0;
    }
    .inform-talone-item2, .inform-talone-item1 {
        width: 100%;
    }
    .check-flight {
        padding: 25px 0 40px;
        background: #43a047;}
    .check-flight-minus, .check-flight-plus {
        width: 100%;
    }
    .check-flight-minus {
        margin-left: 0;
        padding: 15px;
        background: #f26138;
    }
    .luggage {
        background: #673ab7;
        padding: 30px 0;
    }
    .luggage-block div {
        width: 100%;
        margin-bottom: 30px;
        padding: 0 15px;
    }
    .special-food {
        padding: 30px 0;}

    .special-food h1 {
        padding: 0;}

    .special-food-block div img {
        margin: 35px 0 0;
        height: 120px;
    }
    .online-reg-item ul li img {
        margin-bottom: 0;
    }
    .inform-talone h1 {
        margin-bottom: 10px;
    }
    .topbutton:hover img {
        transform: none;
    }
    .hand-phone-block div {
        width: 200px;
    }
    .prof-secret-block7 {
        width: 470px !important;
    }
}
@media screen and (max-width: 575px) {
    .header-advantages ul li p{
        font-size: 14px;
        line-height: 16px;
    }
    .header-input span {
        margin: 30px 18px 0 -33px;
    }
    .prof-secret-block7 {
        width: 200px !important;
    }
    .header-input input {
        height: 50px;
        padding: 2px 7px;
        margin: 10px 0;
    }
    .header-input button {
        height: 54px;
        width: 42px;
        margin: 10px 0;
    }
    .accordion {
        box-sizing: border-box;
        transform: translate(0, 0);
        max-width: 100%;
        min-height: 100%;
        margin: 0;
        left: 0;
    }
    .accordion ul li i {
        left: 5%;
    }
    .accordion h2 {
        padding: 10px 10%;}
    .msg p {
        padding: 15px 5% 15px 14%;
    }
    .choose-place img {
        width: 50%;}

    .cancel-reg img {
        float: none;}

    .auto-reg h1 {
        font-size: 25px;
        margin: 20px 0 20px;
    }
    .topbutton {
        right: 5px;}

    .check-flight-plus .services h5 {
        line-height: 22px;
        font-size: 16px;}

    .faq {
        padding: 25px 0 40px;}

    footer p {
        margin: 10px 0 10px 0;}


}
@media screen and (max-width: 400px) {
    .auto-reg img {
        width: 300px;
        height: 120px;
    }
}